.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    max-height: 80vh; /* importante para limitar a altura do modal */
}

.operations-list {
    overflow-y: auto;
    max-height: 55vh; 
    margin-top: 5px;
    padding-right: 10px;
}

.operation-item {
    padding: 10px 0;
    /* border-bottom: 1px solid #ddd; */
}