.background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #25252550;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 35vw;
    height: 75vh;
    border-radius: 20px;
    background-color: #fff;
}

.modal-container button {
    position: fixed;
    top: 2%;
    right: 2%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}