.operation-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFF;
    width: 32vw;
    height: 36vh;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #a8a8a8;
    z-index: 1000;
}
