.body-container {
    display: flex;
    justify-content: center;
}

.info-container {
    /* width: 70vw; */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #61ffed8c;
    border-radius: 20px;
    padding: 0 20px;
}

.info-container > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
}